$root-element: 'awssld';
$cos45: 0.7071;
$transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);

$slider-height-percentage: 55%;
$slider-transition-duration: 770ms;

$organic-arrow-thickness: 7px;
$organic-arrow-border-radius: 30px;
$organic-arrow-height: 23px;
$organic-arrow-color: #29c0db;
$control-button-width: 8%;
$control-button-height: 30%;
$control-button-background: transparent;
$control-bullet-color: #4480c1;
$control-bullet-active-color: #178780;
$loader-bar-color: #0088e2;
$loader-bar-height: 6px; 
$control-button-opacity: 0.5;
$control-button-hover-opacity: 0.75;
$content-background-color: transparent;
