/* Fonts */
@font-face {
  font-family: "freestyleScript";
  src: url("./assets/fonts/freeStyleScript.ttf");
}

@font-face {
  font-family: "Ubuntu-light";
  src: url("./assets/fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu-regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-bold";
  src: url('./assets/fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: "Nunito-bold";
  src: url('./assets/fonts/Nunito-Bold.ttf');
}
@font-face {
  font-family: "Nunito-light";
  src: url('./assets/fonts/Nunito-Light.ttf');
}
@font-face {
  font-family: "Nunito-regular";
  src: url('./assets/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: "Poppins-bold";
  src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: "Poppins-regular";
  src: url('./assets/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Poppins-light";
  src: url('./assets/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: "Poppins-medium";
  src: url('./assets/fonts/Poppins-Medium.ttf');
}


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-align: y mandatory;
}

.App {
  height: 100vh;
  display: grid;
}

footer {
  background-color: #008DD5;
  padding: 0.2rem;
}

footer > div h6 {
  text-align: center;
  font-family: Nunito-light, sans-serif;
  font-size: 0.9rem;
  color: #fcfcfc;
}


@media (prefers-reduced-motion: no-preference) {
  .fanIcon {
    color: #4884dd;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
}

.fanIcon:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  transform: scale(1.2);
  -webkit-transform: scale(1.5);
  -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.emoji {
  opacity: .9;
}
