* {
  margin: 0;
}

@font-face{
  font-family: 'freestyleScript';
  src: local('freestyleScript'), url('./assets/fonts/freeStyleScript.ttf') format('true');
  font-weight: normal;
}

@font-face{
  font-family: 'Poppins-regular';
  src: local('Poppins-regular'), url('./assets/fonts/Poppins-Regular.ttf') format('true');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'freestyleScript', 'Poppins-regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
